root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# JetBrains IDEs
ij_visual_guides = 20,40,60,80,100,120

[*.md]
trim_trailing_whitespace = false
